# Environment variables
.env

# Dependencies
node_modules/

# Uploads
uploads/*
!uploads/.gitkeep

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo
